<settings>
    <setting id="ocultarwidgetfavoritospalantir" type="bool">false</setting>
    <setting id="movieset_onclick_playnext" type="bool">false</setting>
    <setting id="hidespotlightseries_general" type="bool">true</setting>
    <setting id="tvshow_onclick_playfrombeginning" type="bool">false</setting>
    <setting id="oscurecercontrailer" type="bool">false</setting>
    <setting id="tvshow_onclick_browse" type="bool">false</setting>
    <setting id="skinshortcuts-widget-WidgetTop10" type="bool">true</setting>
    <setting id="hidespotlightpelis_anime" type="bool">true</setting>
    <setting id="ocultartituloinfoaudiovideo.10000" type="bool">false</setting>
    <setting id="hide_thumbforspoiler" type="bool">false</setting>
    <setting id="skinshortcuts-widget-movies" type="bool">false</setting>
    <setting id="ocultarclearlogo.507" type="bool">false</setting>
    <setting id="ocultarwidgettop10" type="bool">false</setting>
    <setting id="hidespotlightseries_novela" type="bool">true</setting>
    <setting id="no_slide_animations" type="bool">false</setting>
    <setting id="tvshow_onclick_playnext" type="bool">false</setting>
    <setting id="ocultarclearlogo.505" type="bool">false</setting>
    <setting id="mostrarsublabeltopbar" type="bool">false</setting>
    <setting id="hidespotlightpelis_documental" type="bool">true</setting>
    <setting id="album_onclick_browse" type="bool">false</setting>
    <setting id="circle_userrating" type="bool">false</setting>
    <setting id="homemenunopicturesbutton" type="bool">false</setting>
    <setting id="osdautoclose" type="bool">false</setting>
    <setting id="hidespotlightpelis_musica" type="bool">true</setting>
    <setting id="hidespotlightpelis_dibujo" type="bool">true</setting>
    <setting id="skinshortcuts-widget-WidgetAnime" type="bool">true</setting>
    <setting id="focusestilopalantir" type="bool">false</setting>
    <setting id="movieset_onclick_playfrombeginning" type="bool">false</setting>
    <setting id="hidespotlightseries_retro" type="bool">true</setting>
    <setting id="skinshortcuts-widget-tvshows" type="bool">false</setting>
    <setting id="skinshortcuts-widget-WidgetPelis" type="bool">true</setting>
    <setting id="tvshow_onclick_continuewatching" type="bool">false</setting>
    <setting id="skinshortcuts-widget-WidgetSeries" type="bool">true</setting>
    <setting id="album_onclick_queue" type="bool">false</setting>
    <setting id="movieset_onclick_continuewatching" type="bool">false</setting>
    <setting id="show_profileavatar" type="bool">false</setting>
    <setting id="ocultartituloinfoaudiovideo.506" type="bool">false</setting>
    <setting id="no_fanart" type="bool">false</setting>
    <setting id="ocultartituloinfoaudiovideo.507" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PersonalWidgetListFavoritos" type="bool">true</setting>
    <setting id="skinshortcuts-widget-music" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Palantir10most" type="bool">true</setting>
    <setting id="mostrarbarrainferior" type="bool">false</setting>
    <setting id="mostrarpathtopbar" type="bool">false</setting>
    <setting id="contextestilopalantir" type="bool">true</setting>
    <setting id="mostrarclearlogootrasvistas" type="bool">false</setting>
    <setting id="ocultarwidgetespeciales" type="bool">false</setting>
    <setting id="mostrarbarrasuperior" type="bool">false</setting>
    <setting id="ocultarclearlogo.506" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="skinshortcuts-widget-WidgetFavoritos" type="bool">true</setting>
    <setting id="hidespotlightseries_anime" type="bool">true</setting>
    <setting id="skinshortcuts-widget-WidgetEspeciales" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/addons.jpg" type="bool">true</setting>
    <setting id="ocultartituloinfoaudiovideo.505" type="bool">false</setting>
    <setting id="ocultarclearlogo.10000" type="bool">false</setting>
    <setting id="album_onclick_play" type="bool">false</setting>
    <setting id="hidespotlightpelis_pelicula" type="bool">true</setting>
    <setting id="debuggrid" type="bool">false</setting>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="hidespotlightseries_documental" type="bool">true</setting>
    <setting id="skin_enableanimatedposters" type="bool">false</setting>
    <setting id="ocultarclearlogo.504" type="bool">false</setting>
    <setting id="mostrarreloj" type="bool">false</setting>
    <setting id="ocultartituloinfoaudiovideo.504" type="bool">false</setting>
    <setting id="movieset_onclick_browse" type="bool">false</setting>
    <setting id="home_no_categories_widget" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="tvshow_onclick_queue" type="bool">false</setting>
    <setting id="show_musicvideoposter" type="bool">false</setting>
    <setting id="album_onclick_playnext" type="bool">false</setting>
    <setting id="skinshortcuts-widget-addons" type="bool">false</setting>
    <setting id="hidespotlightseries_dibujo" type="bool">true</setting>
    <setting id="skinshortcuts-widget-PersonalWidgetList" type="bool">true</setting>
    <setting id="show_weatherinfo" type="bool">false</setting>
    <setting id="show_profilename" type="bool">false</setting>
    <setting id="circle_rating" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="skinshortcuts-widget-WidgetDibus" type="bool">true</setting>
    <setting id="homebanner" type="bool">false</setting>
    <setting id="movieset_onclick_queue" type="bool">false</setting>
    <setting id="nomostrarinfoextraosd" type="bool">false</setting>
    <setting id="skinshortcuts-widget-5" type="string">WidgetTop10</setting>
    <setting id="numwidgetsitems" type="string">20</setting>
    <setting id="vistatemporadas" type="string">FlixSeasons</setting>
    <setting id="skinshortcuts-widget-3" type="string">WidgetEspeciales</setting>
    <setting id="HomeFanart.ext" type="string"></setting>
    <setting id="skinshortcuts-widget-14" type="string">PersonalWidgetList</setting>
    <setting id="claridad_art" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="infolistasgenericas" type="string">Estuary</setting>
    <setting id="infoclistasgenericas" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">Palantir10most</setting>
    <setting id="skinshortcuts-widget-7" type="string">WidgetPelis</setting>
    <setting id="skinshortcuts-widget-4" type="string">PersonalWidgetList</setting>
    <setting id="MovieGenreFanart.path" type="string"></setting>
    <setting id="skinshortcuts-widget-11" type="string">WidgetDibus</setting>
    <setting id="vistapeliculas" type="string"></setting>
    <setting id="background_overlay" type="string">1</setting>
    <setting id="skinshortcuts-widget-17" type="string">PersonalWidgetList</setting>
    <setting id="clearlogo.tamano" type="string"></setting>
    <setting id="MovieGenreFanart.ext" type="string"></setting>
    <setting id="vistapalantir" type="string">Mayusc</setting>
    <setting id="skinshortcuts-widget-12" type="string">PersonalWidgetList</setting>
    <setting id="skinshortcuts-widget-18" type="string">addons</setting>
    <setting id="skinshortcuts-widget-1" type="string">PersonalWidgetList</setting>
    <setting id="skinshortcuts-widget-13" type="string">WidgetAnime</setting>
    <setting id="osdautoclosetime" type="string"></setting>
    <setting id="timerautotrailer" type="string"></setting>
    <setting id="skinshortcuts-widget-10" type="string">PersonalWidgetList</setting>
    <setting id="skinshortcuts-widget-2" type="string">PersonalWidgetList</setting>
    <setting id="skinshortcuts-widget-16" type="string">PersonalWidgetListFavoritos</setting>
    <setting id="skinshortcuts-widget-8" type="string">PersonalWidgetList</setting>
    <setting id="skinshortcuts-widget-15" type="string">WidgetFavoritos</setting>
    <setting id="vistaepisodios" type="string"></setting>
    <setting id="vistaseries" type="string"></setting>
    <setting id="HomeFanart.path" type="string"></setting>
    <setting id="skinshortcuts-widget-9" type="string">WidgetSeries</setting>
</settings>
